@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            
            <a href="~/Contacts">Follow this link to get started</a>
        </p>
       
    </div>

</div>